@use '../util/' as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}

img {
  display: block;
  max-width: 100%;
}
