@use '../util/' as u;

.wrapper {
  width: min(100% - 40px, u.rem(1100));
  margin-inline: auto;

  &.has-padding {
    padding-block: 40px;

    @include u.breakpoint(medium) {
      padding-block: 60px;
    }
  }
}
