@use 'functions' as f;
@use 'sass:math';
@use 'sass:map';

// Based on: https://chriskirknielsen.com/blog/modern-fluid-typography-with-clamp/
@mixin fs-fluid($min-vw, $max-vw, $min-value, $max-value) {
  $factor: math.div(1, ($max-vw - $min-vw)) * ($max-value - $min-value);
  $calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

  font-size: $min-value; // Fallback for older browsers
  font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

$breakpoints: (
  'medium': f.em(700),
  'large': f.em(1200),
);

@mixin breakpoint($size) {
  @media (width >= map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (width < map.get($breakpoints, $size)) {
    @content;
  }
}
