@use '../util/' as u;

.header {
  padding-block: 14px;
  background: var(--color-header-bg);

  @include u.breakpoint(medium) {
    padding-block: 20px;
  }

  &__items {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style-type: none;

    &:first-child {
      margin-inline-end: auto;
    }
  }

  &__link {
    @include u.fs-fluid(u.rem(375), u.rem(1100), u.rem(14), u.rem(16));
    color: var(--color-text);
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: color 150ms ease-in-out;

    &:hover {
      color: var(--color-accent);
    }
  }
}
